@page "/"
@attribute [Authorize]
<h1>Hello to money saving world!</h1>
    @*<AuthorizeView>
            <Authorized>
                <h1>Hello to money saving world!</h1>

                Welcome to your new app.
            </Authorized>
            <NotAuthorized>
                <p>I'm sorry, I can't display anything until you log in</p>
            </NotAuthorized>
        </AuthorizeView>*@